.footer {
	@include rem(padding, 20px 0);
	background-color: #051936;

	.container {
		color: $corBranca;
		text-align: center;

		>.author-job {
			@include font-rem(18px);
			@include rem(padding, 10px 0);
			text-transform: uppercase;

			>.author {
				color: $corBranca;				
			}

			>.author:hover {
				color: $corVerde;
			}
		}

		>.phrases {
			padding: 0;

		}
	}
}


