.header-svg {
	
	@include width_small {
		@include rem(max-height, 240px);
	}	

	@include width_medium {
		@include rem(max-height, 380px);			
	}

	@include width_tablet {
		@include rem(max-height, 550px);
	}

	@include width_desktop {

		.scale {
			display: block;
			width: 100%;
			height: 80vh;
		}

		@include rem(max-height, 630px);
	}
	
	@include width_large {
		@include rem(max-height, 680px);
	}
	
	@include width_xlarge {
		@include rem(max-height, 1000px);
	}		
}




