.profile-contact {
	font-size: 150%;
	background-color: $CorAzul;
	@include rem(padding, 40px 0);

	.box-form {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		@include rem(margin, 60px 0);

		>.box {
			flex: 1 0 100%;
		}

		>.form {
			@include rem(max-width, 700px); 
			text-align: center;
			position: relative;

			legend {
				@include font-rem(20px);
				@include rem(margin-bottom, 20px);
				@include FontBold();
				color: $corBranca;
			}
	
			button {
    			position:absolute;
    			right: 0;
    			display: block;
    			overflow:hidden;
    			@include rem(margin-right, 20px);
    			width:7rem;
    			color:$corBranca;
    			border:2px solid $corBranca;
    			background-color:$CorAzul;
    			cursor:pointer;
    			line-height:2;
    			border-radius:1.5rem;
    			font-size:1.125rem;
    			text-transform:lowercase;
    			outline:none;
    			transition:transform .125s;

    			&:active {
    			    transform:scale(.9,.9);
    			}

    			&:before,
    			&:after {
    			    position:absolute;
    			    opacity:0;

        			border-radius:50%;
        			background-color:$CorAzul;
        			top:50%;
        			left:50%;
        			margin-top:-1.125rem;
        			margin-left:-1.125rem;
        			width:2.25rem;
        			height:2.25rem;

        			content:'';
        			z-index:1;
    			}

    			&.loading {
    			    animation:button-loading .5s forwards;
    			    background-color: $CorAzul;
    			}

    			&.loading:before {
    			    opacity:1;
    			    animation:button-dot-intro .5s forwards;
    			}

    			&.loading:after {
    			    opacity:0;
    			    animation:button-dot-pulse 1.5s infinite .5s;
    			}

    			&.ready {
    			    text-indent:0;
    			    color:transparent;
    			    background-color:#5585ff;
    			    animation:button-ready .333s forwards;
    			}

    			&.ready:before {
    			    position:absolute;
    			    left:0;
    			    right:0;
    			    top:auto;
    			    margin:0;
    			    width:auto;
    			    height:auto;
    			    border-radius:0;
    			    background-color:$corVerde;
    			    color:$CorAzul;
    			    content:'Enviado';
    			    opacity:0;
    			    z-index:2;
    			    animation:button-ready-label .5s forwards .275s;
    			}

    			&.ready:after {
    			    opacity:1;
    			    animation:button-dot-outro .333s;
    			}
			}

			@keyframes button-loading {

    			0% {}
    		
    			20% {
    			    color:transparent;
    			    transform:scale(1,1);
    			}

    			40% {
    			    border-color:$corVerde;
    			    background-color:transparent;
    			    transform:scale(1,1);
    			}

    			60%  {

        			transform:scale(.7,1.1);

        			margin-left:1.25rem;
        			width:2.5rem;
        			text-indent:-0.6125rem;

        			color:transparent;
        			border-color:$corVerde;
        			background-color:$corVerde;
    			}

    			80%  {
    			    transform:scale(1,1);
    			}

    			100% {

        		margin-left:1.25rem;
        		width:2.5rem;

        		background-color:$corVerde;
        		border-color:$corVerde;
        		color:transparent;
    			}
			}

			@keyframes button-dot-intro {

    			0% {
    			    opacity:0;
    			}

    			60% {
    			    opacity:1;
    			    transform:scale(1,1);
    			}

    			100% {
    			    transform:scale(.75,.75);
    			}

			}

			@keyframes button-dot-pulse {

    			0% {
    			    opacity:1;
    			    transform:scale(.75,.75);
    			}

    			15% {
    			    transform:scale(.85,.85);
    			}

   				45% {
   				    transform:scale(.75,.75);
   				}

    			55% {
    			    transform:scale(.95,.95);
    			}

    			85% {
    			    transform:scale(.75,.75);
    			}

    			100% {
    			    opacity:1;
    			    transform:scale(.75,.75);
    			}

			}

			@keyframes button-ready {

    			0% {
    			    margin-left:1.25rem;
    			    width:2.5rem;
    			}

    			10% {
    			    background-color:$CorAzul;
    			    border-color:$CorAzul;
    			}

    			70% {
    			    margin:0;
    			    width:7.25rem;
    			    background-color:$CorAzul;
    			    transform:scale(1.1,1.1);
    			}

    			100% {
    			    margin:0;
    			    width:7rem;
    			    border-color:#8cce1e;
    			    background-color:$CorAzul;
    			}

			}

			@keyframes button-dot-outro {

    			0% {
    			    opacity:1;
    			}

    			100% {
    			    opacity:0;
    			    transform:scale(1,1);
    			}
			}

			@keyframes button-ready-label {

    			0% {
    			    opacity:0;
    			}

    			100% {
    			    opacity:1;
    			}

			}			
		}

		>.ilustrado {
			background:transparent url('../images/SVG/contact.svg') left top no-repeat;
			background-size: 100% 100%;
			border-right: 2px solid $corBranca;
			display: none;

			@include width_tablet {
				display: block;
			}
		}		
	}

	.input {
		position: relative;
		z-index: 1;
		display: inline-block;
		margin: 0.5em;
		width: calc(100% - 2em);
		vertical-align: top;
	}

	.submit {
		display: block;
	}

	.input__field {
		position: relative;
		display: block;
		float: right;
		padding: 0.8em;
		width: 60%;
		border: none;
		border-radius: 0;
		background: #f0f0f0;
		color: #aaa;
		font-weight: 400;
		@include OpenSans();
		@include FontBold();
		line-height: 32px;
		-webkit-appearance: none; /* for box shadows to show on iOS */
	}

	.input__field:focus {
		outline: none;
	}

	.input__label {
		display: inline-block;
		float: right;
		padding: 0 1em;
		width: 40%;
		color: $corBranca;
		font-weight: bold;
		font-size: 70.25%;
		-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.input__label-content {
		position: relative;
		display: block;
		padding: .8em 0;
		width: 100%;
	}

	.input--chisato {
		padding-top: 1em;
	}

	.input__field--chisato {
		width: 100%;
		font-size: 80%;
		padding: 0.6em 0.5em;
		background: transparent;
		border: 2px solid;
		color: $corBranca;
		-webkit-transition: border-color 0.25s;
		transition: border-color 0.25s;
	}
	
	.input__label--chisato {
		width: 100%;
		position: absolute;
		top: -4px;
		text-align: left;
		overflow: hidden;
		padding: 0;
		pointer-events: none;
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	
	.input__label-content--chisato {
		padding: 0 1em;
		font-weight: 400;
		color: $corBranca;
	}
	
	.input__label-content--chisato::after {
		content: attr(data-content);
		position: absolute;
		top: -200%;
		left: 0;
		color: $corVerde;
		font-weight: 800;
	}
	
	.input__field--chisato:focus,
	.input--filled .input__field--chisato {
		border-color: $corVerde;
	}
	
	.input__field--chisato:focus + .input__label--chisato,
	.input--filled .input__label--chisato {
		-webkit-animation: anim-chisato-1 0.25s forwards;
		animation: anim-chisato-1 0.25s forwards;
	}
	
	.input__field--chisato:focus + .input__label--chisato .input__label-content--chisato,
	.input--filled .input__label-content--chisato {
		-webkit-animation: anim-chisato-2 0.25s forwards ease-in;
		animation: anim-chisato-2 0.25s forwards ease-in;
	}
	
	@-webkit-keyframes anim-chisato-1 {
		0%, 70% {
			-webkit-transform: translate3d(0, 3em, 0);
			transform: translate3d(0, 3em, 0);
		}
		71%, 100% {
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
	}
	
	@-webkit-keyframes anim-chisato-2 {
		0% {
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
		70%, 71% {
			-webkit-transform: translate3d(0, 125%, 0);
			transform: translate3d(0, 125%, 0);
			opacity: 0;
			-webkit-animation-timing-function: ease-out;
		}
		100% {
			color: transparent;
			-webkit-transform: translate3d(0, 200%, 0);
			transform: translate3d(0, 200%, 0);
		}
	}
	
	@keyframes anim-chisato-1 {
		0%, 70% {
			-webkit-transform: translate3d(0, 3em, 0);
			transform: translate3d(0, 3em, 0);
		}
		71%, 100% {
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
	}
	
	@keyframes anim-chisato-2 {
		0% {
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
		70%, 71% {
			-webkit-transform: translate3d(0, 125%, 0);
			transform: translate3d(0, 125%, 0);
			opacity: 0;
			-webkit-animation-timing-function: ease-out;
		}
		100% {
			color: transparent;
			-webkit-transform: translate3d(0, 200%, 0);
			transform: translate3d(0, 200%, 0);
		}
	}
}

