.profile-about {
	
	&:after {
		clear: both;
		content: "";
		display: table;
	}

	.box-text {
		float: right;

		@include width_desktop {
			width: 85%;
		}
	
		&.-about > .title {
			text-align: left;
			@include font-rem(35px);
			@include rem(padding-bottom, 40px);
			color: $CorAzul;  
		}

		.link-externa {
			color: $CorAzul;
			border-bottom: 1px dashed $CorAzul;
			text-decoration: none;
			transition: all .5s;

			&:hover {
				background-color: $CorAzul;
				color: $corBranca;
			}
		}

	}



	.social {
		position: relative;
		@include rem(padding-bottom, 60px);

		>.link-icon {
			@include rem(margin-right, 22px);
		}

		&.-button > .btn {
			position: absolute;
			right: 0;
			@include rem(margin, 5px);
			vertical-align: middle;
		}
	}
}	

