.hand-left {
	animation: movesmall 1s linear infinite alternate;
}

.hand-right {
	animation: movelarge 1s linear infinite alternate;
}

@keyframes movesmall {
	to {
		transform: translateY(-5px);
	}

	from {
		transform: translateY(0);
	}	
}

@keyframes movelarge {
	from {
		transform: translateY(-8px);
	}	
}
