.computer-1 {
  stroke: #ccc;
  stroke-width: 1px;
  stroke-dasharray: 1400;
  animation: 6s draw infinite;	
}

@keyframes draw {
  0% {
    fill-opacity: 0;
    stroke-dashoffset: 1400;
  }
  70% {
    fill-opacity: 0;
    stroke: #ccc;
  }
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
    stroke: none;
  }
}
