			<section class="profile-about">
				<div class="container">
					<div class="box-text -about">
						<h2 class="title">Sobre mim...</h2>

						<p>
							Meu nome é <strong>Filipe Luiz Rodrigues Correia</strong>, nasci em <i>Recife/PE</i>, sou <strong>deficiente auditivo</strong> e me comunico através da leitura labial e Libras. Sempre procuro aprender algo novo e entender como as coisas funcionam. Comecei a me interessar pela codificação <em>HTML</em>, <em>CSS</em> e a programação <em>JavaScript</em>.
						</p>
				
						<p>
							Gostaria muito de trabalhar com <em>desenvolvimento web</em>, mas infelizmente, atualmente trabalho como analista administrativo. Por que eu escolhi a profissão Web? Porque Web é fantástico e tenho facilidade em aprender cada dia mais. Gosto de <em>codificar</em>, <em>semântica</em>, <em>reutilizável</em>...  a <em>acessibilidade</em> ao conhecimento me deixou apaixonado pelo mundo da Web.
						</p>

						<p>
							Em 2006, meu pai me colocou no curso de <a class="link-externa" href="http://www.pe.senac.br/ascom/index.shtml" target="_blank">Computação Gráfica para Web do Senac</a>. Naquela época aprendi pouco sobre <em>HTML</em> e como recortar os layouts PSD para a tabela no editor <em>Dreamweaver</em>.  Não aprendi nada sobre <em>CSS e JavaScript</em>. Foi péssimo trabalhar e manter um site complexo. Atualmente as <em>tecnologias</em> estão cada vez mais avançadas e diferentes, sempre se atualizando. O vício de jogos no computador me afastou do aprendizado de <em>desenvolvimento web</em>. Daí, quando fui dar uma olhada em como estava o mundo Web, vi o novo <em>HTML5</em>, <em>CSS3</em> e <em>JavaScript</em> dos últimos anos, e me apaixonei ainda mais pelas linguagens.				
						</p>

						<p class="toggle hide">
							Larguei o vício do jogo e voltei a estudar essas linguagens impressionantes. Nunca programei na vida, mas graças ao <strong>JavaScript</strong> que foi a primeira linguagem de programação que conheci, me motivei e tive entusiasmo para me aprofundar e estudar mais. Após essas tecnologias, quando vi um lindo <strong>SVG</strong>, deu mais vontade de fazer tudo. E ainda mais com <em>animação CSS3</em> e a <em>manipulação de JavaScript</em>, o que tornou tudo lindo!!! 
						</p>						

						<p class="toggle hide">
							 Estudo sozinho em casa. Leio muito os blogs, livros, artigos, vídeos, práticas e teorias do <em>desenvolvimento Web</em> com foco em <strong>Front-End</strong>. A parte mais difícil foi estudar sozinho, sem ninguém me ajudando. Com o tempo, fiquei mais acostumando e já estou gostando muito de estudar sozinho. Infelizmente estou enfrentando muitas <strong>barreiras</strong> por falta de legenda dos cursos online, procast (som da voz), palestras que não disponibilizam interprete. Irei estudar bastante para que no futuro eu seja a ponte de <em>acessibilidade na Web</em>, para que os como eu, desejem estudá-la.
						</p>

						<p class="toggle hide">
							<i>"Sites sem acessibilidade são deficientes"</i>
						</p>

						<div class="social -button">
						{% for social in site.social %}
							<a aria-label="{{ social.title }}" href="{{ social.url }}" title="{{ social.title }}" target="_blank">
								<svg class="icon"><use xlink:href="#icon-{{ social.name }}"></use></svg>
							</a>
						{% endfor %}	
							<button type="button" aria-label="Saiba mais" class="btn" id="botao1">Saiba mais...</button>
						</div>												
					</div>
				</div>						
			</section>
			<!-- End profile-about -->

