<!-- Used by theme-bio-builtin-1,2 -->

<address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
	<p class="ui no-bottom">{{ site.data.bio.basics.location.address }}</p>
	<p class="ui no-bottom" itemprop="addressLocality">{{ site.data.bio.basics.location.city }}, {{ site.data.bio.basics.location.region }} {{ site.data.bio.basics.location.postalCode }} {{ site.data.bio.basics.location.countryCode }}</p>
	<p class="ui no-bottom" itemprop="telephone">{{ site.data.bio.basics.phone }}</p>   
</address>