			<section class="profile-contact">
				<div class="container">
					<h2 class="title">Contato</h2>
					<div class="box-form">
					
						<form class="form box" id="contact-form" action="https://formspree.io/ffilipeluiz@gmail.com" method="POST" role="form">
							<fieldset>
								<legend>
									Deixe seu recado no formulário abaixo ou pelo e-mail: ffilipeluiz@gmail.com
								</legend>
								<span class="input input--chisato">
									<input class="input__field input__field--chisato" type="text" name="name" id="name" required/>
									<label class="input__label input__label--chisato" for="name">
										<span class="input__label-content input__label-content--chisato" data-content="Nome">Nome</span>
									</label>
								</span>
								<span class="input input--chisato">
									<input class="input__field input__field--chisato" type="email" name="e-mail" id="email" required/>
									<label class="input__label input__label--chisato" for="email">
										<span class="input__label-content input__label-content--chisato" data-content="E-mail">E-mail</span>
									</label>
								</span>
								<span class="input input--chisato">
									<textarea class="input__field input__field--chisato" name="message" id="msg" rows="10" cols="40" required></textarea> 
									<label class="input__label input__label--chisato" for="msg">
										<span class="input__label-content input__label-content--chisato" data-content="Mensagem">Mensagem</span>
									</label>
								</span>						
								<!-- CONFIG -->
								<input class="is-hidden" type="text" name="_gotcha">
								<input type="hidden" name="_subject" value="Subject">
								<!-- /CONFIG -->
								<input id="button-ipunt" type="submit" aria-label="Enviar dados no formulário" value="Enviar">
							</fieldset>
						</form>
					</div>	

				</div>
			</section>
			<!-- End profile-contact -->
