	<footer class="footer" role="contentinfo">
		<div class="container">
			<h3 class="author-job">
			
				<a class="author" href="https://plus.google.com/116973113303020587442" rel="author" target="_blank" itemprop="name">
					Filipe Luiz
				</a> 
				<span itemprop="jobTitle">- Desenvolvedor Front-End</span>
			</h3>

			<p class="phrases">
				<i>"Não desista na primeira dificuldade ou você nunca será um vencedor"</i>
			</p>

		</div>
	</footer>	
	<!-- End footer -->
	<script src="assets/js/main.min.js"></script>
