			<section class="profile-portfolio">
				<div class="container">
					<h2 class="title">Portfolio</h2>
					<div class="projects-body">
					{% for post in site.posts reversed %}
						<div class="projects-box -card">
							<img class="img" src="assets/images/{{ post.img }}" alt="{{ post.alt }}">
							<div class="text -description">
								<h3 class="heading">{{ post.title }}</h3>
								<span class="sub">{{ post.subtitle }}</span>
								{{ post.content }}
							</div>
							<a class="btn" href="{{ post.href }}" aria-label="Ver o projeto" target="_blank">Ver o projeto</a>
						</div>
					{% endfor %}
					</div>
				</div>
			</section>
			<!-- End profile-portfolio -->
