/*------------------------------------*\
    Autor: Filipe Luiz
    Version: 1.0
    Website: www.filipeluiz.com.br
\*------------------------------------*/
/**
 * #SETTINGS
 */
/**
* #TOOLS
*/
/**
* #GENERIC
*/
/* line 1, scss/3_generic/_default_margin_padding.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-transform-origin: 0px 0px 0px;
      -ms-transform-origin: 0px 0px 0px;
          transform-origin: 0px 0px 0px;
}

/* line 1, scss/3_generic/_box_sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
* #BASE
*/
/* line 1, scss/4_base/_typography.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #f4f7f9;
  color: #5e5650;
}

/* line 7, scss/4_base/_typography.scss */
p {
  padding-bottom: 1.25rem;
}

/* line 1, scss/4_base/_imagem.scss */
img {
  width: 100%;
  height: 100%;
}

/* line 1, scss/4_base/_link.scss */
a {
  text-decoration: none;
}

/* line 1, scss/4_base/_headings.scss */
h1 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.875rem;
  color: #fffff9;
}

/* line 8, scss/4_base/_headings.scss */
h2 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.875rem;
}

/* line 14, scss/4_base/_headings.scss */
h4 {
  padding: 1.25rem 0;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.875rem;
  color: #fffff9;
}

/* line 2, scss/4_base/_ordenadas.scss */
ul li {
  color: #fffff9;
  list-style-position: inside;
  text-indent: 20px;
}

/* line 1, scss/4_base/_svg.scss */
html|* > svg {
  -webkit-transform-origin: 50% 50% 0px;
      -ms-transform-origin: 50% 50% 0px;
          transform-origin: 50% 50% 0px;
}

/* line 5, scss/4_base/_svg.scss */
svg:not(:root), symbol, image, marker, pattern, foreignObject {
  overflow: hidden;
}

/* line 9, scss/4_base/_svg.scss */
svg[Attributes Style] {
  width: 100%;
  height: 100%;
}

/* line 1, scss/4_base/_form.scss */
fieldset {
  border: none;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(font/opensans/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(font/opensans/DXI1ORHCpsQm3Vp6mXoaTZX5f-9o1vgP2EXwfjgl7AY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(font/opensans/DXI1ORHCpsQm3Vp6mXoaTRWV49_lSm1NYrwo-zkhivY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(font/opensans/DXI1ORHCpsQm3Vp6mXoaTaaRobkAwv3vxw3jMhVENGA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(font/opensans/DXI1ORHCpsQm3Vp6mXoaTf8zf_FOSsgRmwsS7Aa9k2w.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(font/opensans/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(font/opensans/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(font/opensans/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(font/opensans/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(font/opensans/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(font/opensans/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(font/opensans/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(font/opensans/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(font/opensans/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(font/opensans/MTP_ySUJH_bn48VBG8sNSq-j2U0lmluP9RWlSytm3ho.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(font/opensans/MTP_ySUJH_bn48VBG8sNSpX5f-9o1vgP2EXwfjgl7AY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(font/opensans/MTP_ySUJH_bn48VBG8sNShWV49_lSm1NYrwo-zkhivY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(font/opensans/MTP_ySUJH_bn48VBG8sNSqaRobkAwv3vxw3jMhVENGA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(font/opensans/MTP_ySUJH_bn48VBG8sNSv8zf_FOSsgRmwsS7Aa9k2w.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(font/opensans/MTP_ySUJH_bn48VBG8sNSj0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(font/opensans/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/**
* #OBJECTS
*/
/* line 1, scss/5_objects/_displayNone.scss */
.none {
  display: none;
}
@media (min-width: 64em) {
  /* line 1, scss/5_objects/_displayNone.scss */
  .none {
    display: block;
  }
}

/* line 9, scss/5_objects/_displayNone.scss */
.is-hidden {
  display: none;
}

/* line 1, scss/5_objects/_container.scss */
.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
}

/* line 1, scss/5_objects/_title.scss */
.title {
  font-size: 26px;
  font-size: 1.625rem;
  text-align: center;
  color: #fffff9;
}

/* line 1, scss/5_objects/_botao.scss */
.btn {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.625rem 1.25rem;
  background-color: transparent;
  border: 2px solid #013054;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  color: #013054;
  outline: none;
}
/* line 11, scss/5_objects/_botao.scss */
.btn:hover {
  border-color: #a9be01;
  color: #a9be01;
}

/* line 1, scss/5_objects/_toggle.scss */
.hide {
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
          transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

/* line 12, scss/5_objects/_toggle.scss */
.show {
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  max-height: 1000px;
  overflow: hidden;
}

/* line 1, scss/5_objects/_social.scss */
.icon {
  width: 1.625rem;
  height: 1.625rem;
  margin-top: 0.625rem;
  fill: #013054;
  -webkit-transition: all .2s;
          transition: all .2s;
}
/* line 9, scss/5_objects/_social.scss */
.icon:hover {
  fill: #a9be01;
}

/**
* #COMPONENTS
*/
@media (min-width: 20em) {
  /* line 1, scss/6_components/_header.scss */
  .header-svg {
    max-height: 15rem;
  }
}
@media (min-width: 30em) {
  /* line 1, scss/6_components/_header.scss */
  .header-svg {
    max-height: 23.75rem;
  }
}
@media (min-width: 48em) {
  /* line 1, scss/6_components/_header.scss */
  .header-svg {
    max-height: 34.375rem;
  }
}
@media (min-width: 64em) {
  /* line 1, scss/6_components/_header.scss */
  .header-svg {
    max-height: 43.75rem;
  }
  /* line 17, scss/6_components/_header.scss */
  .header-svg .scale {
    display: block;
    width: 100%;
    height: 80vh;
  }
}
@media (min-width: 80em) {
  /* line 1, scss/6_components/_header.scss */
  .header-svg {
    max-height: 48rem;
  }
}
@media (min-width: 105em) {
  /* line 1, scss/6_components/_header.scss */
  .header-svg {
    max-height: 62.5rem;
  }
}

/* line 1, scss/6_components/_profile.scss */
.profile-box {
  position: relative;
  bottom: 2.8125rem;
}
@media (min-width: 30em) {
  /* line 1, scss/6_components/_profile.scss */
  .profile-box {
    bottom: 4.6875rem;
  }
}
@media (min-width: 48em) {
  /* line 1, scss/6_components/_profile.scss */
  .profile-box {
    bottom: 6.875rem;
  }
}
/* line 13, scss/6_components/_profile.scss */
.profile-box > .avatar {
  position: relative;
  display: inline-block;
  width: 4.4375rem;
  height: 4.6875rem;
  border: 2px solid #fffff9;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  vertical-align: middle;
  -webkit-box-shadow: 1px 1px 10px #999;
          box-shadow: 1px 1px 10px #999;
}
@media (min-width: 30em) {
  /* line 13, scss/6_components/_profile.scss */
  .profile-box > .avatar {
    width: 7.5625rem;
    height: 8.0625rem;
    border: 3px solid #fffff9;
  }
}
@media (min-width: 48em) {
  /* line 13, scss/6_components/_profile.scss */
  .profile-box > .avatar {
    width: 11.3125rem;
    height: 11.8125rem;
    border: 5px solid #fffff9;
  }
}
/* line 37, scss/6_components/_profile.scss */
.profile-box > .name {
  display: inline;
  margin-left: 0.625rem;
  vertical-align: super;
  color: #f4f7f9;
}
@media (min-width: 30em) {
  /* line 37, scss/6_components/_profile.scss */
  .profile-box > .name {
    font-size: 22px;
    font-size: 1.375rem;
    margin-left: 0.625rem;
  }
}
@media (min-width: 48em) {
  /* line 37, scss/6_components/_profile.scss */
  .profile-box > .name {
    font-size: 30px;
    font-size: 1.875rem;
    margin-left: 0.9375rem;
  }
}
@media (min-width: 64em) {
  /* line 37, scss/6_components/_profile.scss */
  .profile-box > .name {
    font-size: 40px;
    font-size: 2.5rem;
    margin-left: 1.875rem;
  }
}
/* line 58, scss/6_components/_profile.scss */
.profile-box > .name > .discription {
  font-weight: 400;
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 1.875rem;
}
@media (min-width: 30em) {
  /* line 58, scss/6_components/_profile.scss */
  .profile-box > .name > .discription {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}
@media (min-width: 48em) {
  /* line 58, scss/6_components/_profile.scss */
  .profile-box > .name > .discription {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
@media (min-width: 64em) {
  /* line 58, scss/6_components/_profile.scss */
  .profile-box > .name > .discription {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

/* line 3, scss/6_components/_profile-about.scss */
.profile-about:after {
  clear: both;
  content: "";
  display: table;
}
/* line 9, scss/6_components/_profile-about.scss */
.profile-about .box-text {
  float: right;
}
@media (min-width: 64em) {
  /* line 9, scss/6_components/_profile-about.scss */
  .profile-about .box-text {
    width: 85%;
  }
}
/* line 16, scss/6_components/_profile-about.scss */
.profile-about .box-text.-about > .title {
  text-align: left;
  font-size: 35px;
  font-size: 2.1875rem;
  padding-bottom: 2.5rem;
  color: #013054;
}
/* line 23, scss/6_components/_profile-about.scss */
.profile-about .box-text .link-externa {
  color: #013054;
  border-bottom: 1px dashed #013054;
  text-decoration: none;
  -webkit-transition: all .5s;
          transition: all .5s;
}
/* line 29, scss/6_components/_profile-about.scss */
.profile-about .box-text .link-externa:hover {
  background-color: #013054;
  color: #fffff9;
}
/* line 39, scss/6_components/_profile-about.scss */
.profile-about .social {
  position: relative;
  padding-bottom: 3.75rem;
}
/* line 43, scss/6_components/_profile-about.scss */
.profile-about .social > .link-icon {
  margin-right: 1.375rem;
}
/* line 47, scss/6_components/_profile-about.scss */
.profile-about .social.-button > .btn {
  position: absolute;
  right: 0;
  margin: 0.3125rem;
  vertical-align: middle;
}

/* line 1, scss/6_components/_profile-skills.scss */
.profile-skills {
  background-color: #013054;
  padding: 2.5rem 0;
}
/* line 5, scss/6_components/_profile-skills.scss */
.profile-skills:after {
  clear: both;
  content: "";
  display: table;
}
/* line 11, scss/6_components/_profile-skills.scss */
.profile-skills .box-skills {
  padding: 2.5rem 0;
  text-align: center;
  display: table-cell;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 20, scss/6_components/_profile-skills.scss */
.profile-skills .box-skills.-skills > .progress-bar {
  position: relative;
  margin: 2.5rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 200px;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  display: inline-block;
}
/* line 26, scss/6_components/_profile-skills.scss */
.profile-skills .box-skills.-skills > .progress-bar > .subtitle {
  padding-bottom: 1.25rem;
  color: #fffff9;
}
/* line 36, scss/6_components/_profile-skills.scss */
.profile-skills .knowledge-bar > .toggle2 {
  margin-bottom: 2.5rem;
}
/* line 40, scss/6_components/_profile-skills.scss */
.profile-skills .knowledge-bar > .btn {
  float: right;
  border-color: #fffff9;
  color: #fffff9;
}

/* line 1, scss/6_components/_profile-portfolio.scss */
.profile-portfolio {
  padding: 2.5rem 0;
}
/* line 5, scss/6_components/_profile-portfolio.scss */
.profile-portfolio .container > .title {
  padding-bottom: 2.5rem;
  color: #013054;
}
/* line 10, scss/6_components/_profile-portfolio.scss */
.profile-portfolio .container .projects-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 15, scss/6_components/_profile-portfolio.scss */
.profile-portfolio .container .projects-body > .projects-box {
  max-width: 300px;
  min-height: 600px;
  display: inline-block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 300px;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  margin: 0.125rem;
  overflow: hidden;
  background-color: #4e70a0;
  -webkit-box-shadow: 3px 3px 3px #999;
          box-shadow: 3px 3px 3px #999;
}
/* line 27, scss/6_components/_profile-portfolio.scss */
.profile-portfolio .container .projects-body .projects-box > .img {
  max-height: 200px;
}
/* line 31, scss/6_components/_profile-portfolio.scss */
.profile-portfolio .container .projects-body .projects-box.-card > .text {
  color: #fffff9;
  padding: 1.25rem 0.9375rem;
}
/* line 35, scss/6_components/_profile-portfolio.scss */
.profile-portfolio .container .projects-body .projects-box.-card > .text > .heading {
  font-size: 20px;
  font-size: 1.25rem;
  padding: 0.625rem 0;
}
/* line 40, scss/6_components/_profile-portfolio.scss */
.profile-portfolio .container .projects-body .projects-box.-card > .text > .sub {
  display: block;
  padding: 0.625rem 0;
  color: #f4f7f9;
  font-weight: bold;
}
/* line 48, scss/6_components/_profile-portfolio.scss */
.profile-portfolio .container .projects-body .projects-box > .btn {
  margin: 0.625rem;
  display: inline-block;
  background-color: #a9be01;
  border: none;
  color: #013054;
}

/* line 1, scss/6_components/_profile-contact.scss */
.profile-contact {
  font-size: 150%;
  background-color: #013054;
  padding: 2.5rem 0;
}
/* line 6, scss/6_components/_profile-contact.scss */
.profile-contact .box-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3.75rem 0;
}
/* line 12, scss/6_components/_profile-contact.scss */
.profile-contact .box-form > .box {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}
/* line 16, scss/6_components/_profile-contact.scss */
.profile-contact .box-form > .form {
  max-width: 43.75rem;
  text-align: center;
  position: relative;
}
/* line 21, scss/6_components/_profile-contact.scss */
.profile-contact .box-form > .form legend {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
  color: #fffff9;
}
/* line 28, scss/6_components/_profile-contact.scss */
.profile-contact .box-form > .form input[type='submit'] {
  position: absolute;
  right: 0;
  display: block;
  overflow: hidden;
  margin-right: 1.25rem;
  width: 7rem;
  color: #fffff9;
  border: 2px solid #fffff9;
  background-color: #013054;
  cursor: pointer;
  line-height: 2;
  -webkit-border-radius: 1.5rem;
          border-radius: 1.5rem;
  font-size: 1.125rem;
  text-transform: lowercase;
  outline: none;
  -webkit-transition: -webkit-transform .125s;
          transition: transform .125s;
}
/* line 46, scss/6_components/_profile-contact.scss */
.profile-contact .box-form > .form input[type='submit']:active {
  -webkit-transform: scale(0.9, 0.9);
      -ms-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}
/* line 50, scss/6_components/_profile-contact.scss */
.profile-contact .box-form > .form input[type='submit']:before, .profile-contact .box-form > .form input[type='submit']:after {
  position: absolute;
  opacity: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #013054;
  top: 50%;
  left: 50%;
  margin-top: -1.125rem;
  margin-left: -1.125rem;
  width: 2.25rem;
  height: 2.25rem;
  content: '';
  z-index: 1;
}
/* line 68, scss/6_components/_profile-contact.scss */
.profile-contact .box-form > .form input[type='submit'].loading {
  -webkit-animation: button-loading .5s forwards;
          animation: button-loading .5s forwards;
  background-color: #013054;
}
/* line 73, scss/6_components/_profile-contact.scss */
.profile-contact .box-form > .form input[type='submit'].loading:before {
  opacity: 1;
  -webkit-animation: button-dot-intro .5s forwards;
          animation: button-dot-intro .5s forwards;
}
/* line 78, scss/6_components/_profile-contact.scss */
.profile-contact .box-form > .form input[type='submit'].loading:after {
  opacity: 0;
  -webkit-animation: button-dot-pulse 1.5s infinite .5s;
          animation: button-dot-pulse 1.5s infinite .5s;
}
/* line 83, scss/6_components/_profile-contact.scss */
.profile-contact .box-form > .form input[type='submit'].ready {
  text-indent: 0;
  color: transparent;
  background-color: #5585ff;
  -webkit-animation: button-ready .333s forwards;
          animation: button-ready .333s forwards;
}
/* line 90, scss/6_components/_profile-contact.scss */
.profile-contact .box-form > .form input[type='submit'].ready:before {
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  margin: 0;
  width: auto;
  height: auto;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: #a9be01;
  color: #013054;
  content: 'Enviado';
  opacity: 0;
  z-index: 2;
  -webkit-animation: button-ready-label .5s forwards .275s;
          animation: button-ready-label .5s forwards .275s;
}
/* line 107, scss/6_components/_profile-contact.scss */
.profile-contact .box-form > .form input[type='submit'].ready:after {
  opacity: 1;
  -webkit-animation: button-dot-outro .333s;
          animation: button-dot-outro .333s;
}
@-webkit-keyframes button-loading {
  20% {
    color: transparent;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  40% {
    border-color: #a9be01;
    background-color: transparent;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  60% {
    -webkit-transform: scale(0.7, 1.1);
            transform: scale(0.7, 1.1);
    margin-left: 1.25rem;
    width: 2.5rem;
    text-indent: -0.6125rem;
    color: transparent;
    border-color: #a9be01;
    background-color: #a9be01;
  }
  80% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    margin-left: 1.25rem;
    width: 2.5rem;
    background-color: #a9be01;
    border-color: #a9be01;
    color: transparent;
  }
}
@keyframes button-loading {
  20% {
    color: transparent;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  40% {
    border-color: #a9be01;
    background-color: transparent;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  60% {
    -webkit-transform: scale(0.7, 1.1);
            transform: scale(0.7, 1.1);
    margin-left: 1.25rem;
    width: 2.5rem;
    text-indent: -0.6125rem;
    color: transparent;
    border-color: #a9be01;
    background-color: #a9be01;
  }
  80% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    margin-left: 1.25rem;
    width: 2.5rem;
    background-color: #a9be01;
    border-color: #a9be01;
    color: transparent;
  }
}
@-webkit-keyframes button-dot-intro {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }
}
@keyframes button-dot-intro {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }
}
@-webkit-keyframes button-dot-pulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }
  15% {
    -webkit-transform: scale(0.85, 0.85);
            transform: scale(0.85, 0.85);
  }
  45% {
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }
  55% {
    -webkit-transform: scale(0.95, 0.95);
            transform: scale(0.95, 0.95);
  }
  85% {
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }
}
@keyframes button-dot-pulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }
  15% {
    -webkit-transform: scale(0.85, 0.85);
            transform: scale(0.85, 0.85);
  }
  45% {
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }
  55% {
    -webkit-transform: scale(0.95, 0.95);
            transform: scale(0.95, 0.95);
  }
  85% {
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }
}
@-webkit-keyframes button-ready {
  0% {
    margin-left: 1.25rem;
    width: 2.5rem;
  }
  10% {
    background-color: #013054;
    border-color: #013054;
  }
  70% {
    margin: 0;
    width: 7.25rem;
    background-color: #013054;
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    margin: 0;
    width: 7rem;
    border-color: #8cce1e;
    color: #013054;
    background-color: #a9be01;
  }
}
@keyframes button-ready {
  0% {
    margin-left: 1.25rem;
    width: 2.5rem;
  }
  10% {
    background-color: #013054;
    border-color: #013054;
  }
  70% {
    margin: 0;
    width: 7.25rem;
    background-color: #013054;
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    margin: 0;
    width: 7rem;
    border-color: #8cce1e;
    color: #013054;
    background-color: #a9be01;
  }
}
@-webkit-keyframes button-dot-outro {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes button-dot-outro {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes button-ready-label {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes button-ready-label {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 258, scss/6_components/_profile-contact.scss */
.profile-contact .input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0.5em;
  width: -webkit-calc(100% - 2em);
  width: calc(100% - 2em);
  vertical-align: top;
}
/* line 267, scss/6_components/_profile-contact.scss */
.profile-contact .input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-weight: 600;
  line-height: 32px;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
}
/* line 284, scss/6_components/_profile-contact.scss */
.profile-contact .input__field:focus {
  outline: none;
}
/* line 288, scss/6_components/_profile-contact.scss */
.profile-contact .input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #fffff9;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 306, scss/6_components/_profile-contact.scss */
.profile-contact .input__label-content {
  position: relative;
  display: block;
  padding: .8em 0;
  width: 100%;
}
/* line 313, scss/6_components/_profile-contact.scss */
.profile-contact .input--chisato {
  padding-top: 1em;
}
/* line 317, scss/6_components/_profile-contact.scss */
.profile-contact .input__field--chisato {
  width: 100%;
  font-size: 80%;
  padding: 0.6em 0.5em;
  background: transparent;
  border: 2px solid;
  color: #fffff9;
  -webkit-transition: border-color 0.25s;
  transition: border-color 0.25s;
}
/* line 328, scss/6_components/_profile-contact.scss */
.profile-contact .input__label--chisato {
  width: 100%;
  position: absolute;
  top: -4px;
  text-align: left;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  -webkit-transform: translate3d(0, 3em, 0);
  transform: translate3d(0, 3em, 0);
}
/* line 340, scss/6_components/_profile-contact.scss */
.profile-contact .input__label-content--chisato {
  padding: 0 1em;
  font-weight: 400;
  color: #fffff9;
}
/* line 346, scss/6_components/_profile-contact.scss */
.profile-contact .input__label-content--chisato::after {
  content: attr(data-content);
  position: absolute;
  top: -200%;
  left: 0;
  color: #a9be01;
  font-weight: 800;
}
/* line 355, scss/6_components/_profile-contact.scss */
.profile-contact .input__field--chisato:focus,
.profile-contact .input--filled .input__field--chisato {
  border-color: #a9be01;
}
/* line 360, scss/6_components/_profile-contact.scss */
.profile-contact .input__field--chisato:focus + .input__label--chisato,
.profile-contact .input--filled .input__label--chisato {
  -webkit-animation: anim-chisato-1 0.25s forwards;
  animation: anim-chisato-1 0.25s forwards;
}
/* line 366, scss/6_components/_profile-contact.scss */
.profile-contact .input__field--chisato:focus + .input__label--chisato .input__label-content--chisato,
.profile-contact .input--filled .input__label-content--chisato {
  -webkit-animation: anim-chisato-2 0.25s forwards ease-in;
  animation: anim-chisato-2 0.25s forwards ease-in;
}
@-webkit-keyframes anim-chisato-1 {
  0%, 70% {
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
  }
  71%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes anim-chisato-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  70%, 71% {
    -webkit-transform: translate3d(0, 125%, 0);
    transform: translate3d(0, 125%, 0);
    opacity: 0;
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    color: transparent;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
  }
}
@keyframes anim-chisato-1 {
  0%, 70% {
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
  }
  71%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes anim-chisato-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  70%, 71% {
    -webkit-transform: translate3d(0, 125%, 0);
    transform: translate3d(0, 125%, 0);
    opacity: 0;
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    color: transparent;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
  }
}
/* line 1, scss/6_components/_footer.scss */
.footer {
  padding: 1.25rem 0;
  background-color: #051936;
}
/* line 5, scss/6_components/_footer.scss */
.footer .container {
  color: #fffff9;
  text-align: center;
}
/* line 9, scss/6_components/_footer.scss */
.footer .container > .author-job {
  padding: 0.625rem 0;
  text-transform: uppercase;
}
/* line 13, scss/6_components/_footer.scss */
.footer .container > .author-job > .author {
  color: #fffff9;
}
/* line 17, scss/6_components/_footer.scss */
.footer .container > .author-job > .author:hover {
  color: #a9be01;
}
/* line 22, scss/6_components/_footer.scss */
.footer .container > .phrases {
  padding: 0;
}

/* line 1, scss/6_components/_SVG_engrenagensAndporter.scss */
.gear-1 {
  -webkit-transform-origin: 409px 197px;
      -ms-transform-origin: 409px 197px;
          transform-origin: 409px 197px;
  -webkit-animation: rodaDireta 6s linear infinite;
          animation: rodaDireta 6s linear infinite;
}

/* line 6, scss/6_components/_SVG_engrenagensAndporter.scss */
.gear-2 {
  -webkit-transform-origin: 506px 264px;
      -ms-transform-origin: 506px 264px;
          transform-origin: 506px 264px;
  -webkit-animation: rodaEsquerda 10s linear infinite;
          animation: rodaEsquerda 10s linear infinite;
}

/* line 11, scss/6_components/_SVG_engrenagensAndporter.scss */
.gear-3 {
  -webkit-transform-origin: 439px 65px;
      -ms-transform-origin: 439px 65px;
          transform-origin: 439px 65px;
  -webkit-animation: rodaDireta 12s linear infinite;
          animation: rodaDireta 12s linear infinite;
}

/* line 16, scss/6_components/_SVG_engrenagensAndporter.scss */
.gear-4 {
  -webkit-transform-origin: 569px 116px;
      -ms-transform-origin: 569px 116px;
          transform-origin: 569px 116px;
  -webkit-animation: rodaEsquerda 6s linear infinite;
          animation: rodaEsquerda 6s linear infinite;
}

/* line 21, scss/6_components/_SVG_engrenagensAndporter.scss */
.gear-5 {
  -webkit-transform-origin: 609px 118px;
      -ms-transform-origin: 609px 118px;
          transform-origin: 609px 118px;
  -webkit-animation: rodaDireta 6s linear infinite;
          animation: rodaDireta 6s linear infinite;
}

/* line 26, scss/6_components/_SVG_engrenagensAndporter.scss */
.gear-6 {
  -webkit-transform-origin: 465px 220px;
      -ms-transform-origin: 465px 220px;
          transform-origin: 465px 220px;
  -webkit-animation: rodaDireta 6s linear infinite;
          animation: rodaDireta 6s linear infinite;
}

/* line 31, scss/6_components/_SVG_engrenagensAndporter.scss */
.gear-7 {
  -webkit-transform-origin: 536px 50px;
      -ms-transform-origin: 536px 50px;
          transform-origin: 536px 50px;
  -webkit-animation: rodaEsquerda 6s linear infinite;
          animation: rodaEsquerda 6s linear infinite;
}

/* line 36, scss/6_components/_SVG_engrenagensAndporter.scss */
.gear-8 {
  -webkit-transform-origin: 445px 143px;
      -ms-transform-origin: 445px 143px;
          transform-origin: 445px 143px;
  -webkit-animation: rodaEsquerda 6s linear infinite;
          animation: rodaEsquerda 6s linear infinite;
}

/* line 41, scss/6_components/_SVG_engrenagensAndporter.scss */
.porter-red {
  -webkit-transform-origin: 569px 116px;
      -ms-transform-origin: 569px 116px;
          transform-origin: 569px 116px;
  -webkit-animation: rodaEsquerda 10s linear infinite;
          animation: rodaEsquerda 10s linear infinite;
}

@-webkit-keyframes rodaDireta {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rodaDireta {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes rodaEsquerda {
  from {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes rodaEsquerda {
  from {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
/* line 1, scss/6_components/_SVG_computador.scss */
.computer-1 {
  stroke: #ccc;
  stroke-width: 1px;
  stroke-dasharray: 1400;
  -webkit-animation: 6s draw infinite;
          animation: 6s draw infinite;
}

@-webkit-keyframes draw {
  0% {
    fill-opacity: 0;
    stroke-dashoffset: 1400;
  }
  70% {
    fill-opacity: 0;
    stroke: #ccc;
  }
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
    stroke: none;
  }
}

@keyframes draw {
  0% {
    fill-opacity: 0;
    stroke-dashoffset: 1400;
  }
  70% {
    fill-opacity: 0;
    stroke: #ccc;
  }
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
    stroke: none;
  }
}
/* line 1, scss/6_components/_SVG_maos.scss */
.hand-left {
  -webkit-animation: movesmall 1s linear infinite alternate;
          animation: movesmall 1s linear infinite alternate;
}

/* line 5, scss/6_components/_SVG_maos.scss */
.hand-right {
  -webkit-animation: movelarge 1s linear infinite alternate;
          animation: movelarge 1s linear infinite alternate;
}

@-webkit-keyframes movesmall {
  to {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes movesmall {
  to {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes movelarge {
  from {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}
@keyframes movelarge {
  from {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}
/* line 1, scss/6_components/_SVG_vapor.scss */
.steam {
  -webkit-transform-origin: 326px 257px;
      -ms-transform-origin: 326px 257px;
          transform-origin: 326px 257px;
  -webkit-animation: vapor 1.5s alternate infinite;
          animation: vapor 1.5s alternate infinite;
}

@-webkit-keyframes vapor {
  from {
    -webkit-transform: translateY(-5px) scaleY(2);
            transform: translateY(-5px) scaleY(2);
  }
}

@keyframes vapor {
  from {
    -webkit-transform: translateY(-5px) scaleY(2);
            transform: translateY(-5px) scaleY(2);
  }
}
/* line 1, scss/6_components/_SVG_lampada.scss */
.lamp {
  -webkit-animation: acendar 1s ease-in-out infinite alternate;
          animation: acendar 1s ease-in-out infinite alternate;
}

@-webkit-keyframes acendar {
  from {
    fill: #ffff00;
  }
}

@keyframes acendar {
  from {
    fill: #ffff00;
  }
}
/* line 1, scss/6_components/_SVG_mapa.scss */
.map {
  stroke-width: 1px;
  stroke-dasharray: 280;
  -webkit-animation: 10s write;
          animation: 10s write;
}

@-webkit-keyframes write {
  0% {
    fill-opacity: 0;
    stroke-dashoffset: 280;
  }
  70% {
    fill-opacity: 0;
    stroke: #a9be01;
  }
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
    stroke: none;
  }
}

@keyframes write {
  0% {
    fill-opacity: 0;
    stroke-dashoffset: 280;
  }
  70% {
    fill-opacity: 0;
    stroke: #a9be01;
  }
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
    stroke: none;
  }
}
/* line 1, scss/6_components/_SVG_celular.scss */
.phone {
  stroke-width: 1px;
  stroke-dasharray: 50;
  -webkit-animation: 10s acao;
          animation: 10s acao;
}

@-webkit-keyframes acao {
  0% {
    fill-opacity: 0;
    stroke-dashoffset: 50;
  }
  70% {
    fill-opacity: 0;
    stroke: #b7d600;
  }
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
    stroke: none;
  }
}

@keyframes acao {
  0% {
    fill-opacity: 0;
    stroke-dashoffset: 50;
  }
  70% {
    fill-opacity: 0;
    stroke: #b7d600;
  }
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
    stroke: none;
  }
}
/* line 1, scss/6_components/_SVG_tablet.scss */
.tablet {
  stroke-width: 1px;
  stroke-dasharray: 200;
  -webkit-animation: 12s table;
          animation: 12s table;
}

@-webkit-keyframes table {
  0% {
    fill-opacity: 0;
    stroke-dashoffset: 200;
  }
  70% {
    fill-opacity: 0;
    stroke: #ccc;
  }
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
    stroke: none;
  }
}

@keyframes table {
  0% {
    fill-opacity: 0;
    stroke-dashoffset: 200;
  }
  70% {
    fill-opacity: 0;
    stroke: #ccc;
  }
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
    stroke: none;
  }
}
/**
* #TRUMPS
*/
