.btn {
   @include font-rem(14px);
   @include FontBold();
   @include rem(padding, 10px 20px);      
   background-color: transparent;
   border: 2px solid #013054;
   border-radius: 20px;
   color: #013054;
   outline: none;

   &:hover {
      border-color: #a9be01;
      color: #a9be01;
   }
}   	
