.icon {
	@include rem(width, 24px);
	@include rem(height, 24px);
	@include rem(margin-top, 10px);
	@include rem(margin-right, 25px);
	fill: $CorAzul;
	transition: all .2s;

	&:hover {
		fill: $corVerde;
	}
}
