---
layout: default
---

{% assign essay_pages = site.pages | where: "type", "essay" | where_exp: "page", "page.draft != true" %} {% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %} {% assign num_essays = essay_pages.size
%} {% assign num_projects = project_pages.size %}

{% include menubar.html active="" %}

<div style="padding-top: 20px" class="ui container ">
  <p>Desculpe, esse URL nao pode ser encontrado. {% if num_essays > 0 | num_projects > 0 %} Talvez voce estivesse procurando um dos seguintes:{% endif %}</p>

  {% if num_essays > 0 %}
  <h3>Essays</h3>
  <ul>
    {% assign essay_pages = site.pages | where: "type", "essay" | sort: "date" | reverse %}
    {% for page in essay_pages %}
      <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if num_projects > 0 %}	
  <h3>Projects</h3>
  <ul>
    {% assign project_pages = site.pages | where: "type", "project" | sort: "title" %}
    {% for page in project_pages %}
    <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

</div>

